html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #030303;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
